
node_modules/


*.log
npm-debug.log
yarn-error.log


cypress/screenshots/
cypress/videos/
cypress/results/


.DS_Store
Thumbs.db


dist/
build/
*.bak
*.swp


!cypress/e2e/
!cypress/fixtures/
!cypress/page-objects/
!cypress/support/
!cypress.config.js

!package.json
!package-lock.json